{deps_dir, "lib"}.

{deps, [
	{oblivion, ".*", {git, "https://github.com/0blivi0n/oblivion-server.git", "master"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
]}.

{pre_hooks, [{clean, "rm -rf lib"},
             {clean, "rm -f *.zip"},
             {compile, "rm -f *.zip"}]}.
             
{post_hooks, [{compile, "./pack.sh"}]}.
