[
{lager, [
	%% Log file for system crashing
	{crash_log, "log/crash.log"},
	{handlers, [
    	{lager_file_backend, [
    		%% Oblivion-cache log file
    		{file, "log/oblivion.log"},
    		%% Log level 
    		{level, info},
    		%% Rotation 
    		{date, "$D0"},
    		%% Maximum number of log files  
    		{count, 5}
    		]}
  		]},
  	 %% {error_logger_hwm, 300}
	]},
{columbo, [
	%% Cluster's master nodes
	{master_nodes, []},
	%% UDP broadcast port
	{udp_port, 38077},
	%% Broadcast interface
	{interface, "*"}
	]},
{event_broker, [
	%% Feeds - DON'T CHANGE!
	{feeds, [
		{<<"obl_node_events">>, [
			<<"columbo:.*">>
			]},
		{<<"obl_cache_events">>, [
			<<"gibreel:.*">>
			]}
		]}
	]},
{oblivion, [
	%% Oblivion's http port
	{oblivion_http_port, 12522},
	%% Oblivion's protocol port
	{oblivion_protocol_port, 12521},
	%% Server's public ip, use this parameter in case Oblivion isn't able to find the correct value
	% {public_ip, "127.0.0.1"},
	%% Oblivion's persistence file 
	{oblivion_persistence_file, "etc/persistence.data"}
	]}
].
